
body {
  background-color: #616161;
  font-family: Verdana;
  #background-image: url(../images/texture-background.jpg);
}

ul {
  list-style-type: none;
}

nav li {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 100px;
  margin: 10px;
  border: solid 4px black;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:visited {
  color: black;
}

nav ul {
  float: left;
}

fieldset {
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 10px;
  border-top: solid 4px black;
  border-bottom: solid 4px black;
}

.main {
  width: 850px;
  margin: auto;
}

h2, h1, p {
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 10px;
  border-top: solid 4px black;
  border-bottom: solid 4px black;
}

.post-date {
  font-style: italic;
  text-align: right;
}

.errors {
  width: 150px;
  position: absolute;
  left: 1150px;
  top: 30px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 15px;
  border: solid 4px black;
  background-color: #FFD694;
  border-radius: 10px;
}