<h2>New Post</h2>


<% form_for @post, url_for(:posts, :create) do |f| %>
  <fieldset>
    <%= f.select :author_id, :options => [['Dan', 1] , ['SomeOtherDude', 2]],  
    :selected => 'Dan' %>
  </fieldset>

  <%= partial 'posts/form', :locals => {:f => f} %>

  <%= input_tag :submit, :value => "Publish Post" %>

<% end %>