<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag :main %>
  <title></title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <%= link_to "All Posts", url_for(:posts, :index) %>
        </li>
        <li>
          <%= link_to "New Post", url_for(:posts, :new) %>
        </li>
      </ul>
    </nav>
  </header>
  <div class="main">
  <%= yield %>
  </div>
</body>
</html>